# binary
/bot-admin-whatsapp
/bot-admin-whatsapp.exe
*.exe

# env & secrets
.env

# logs
*.log

# sqlite
*.db
*.db-shm
*.db-wal

# db backup
*.db.bak*

# upload gambar produk
/data/

# backup .env (rahasia)
*.env.bak*
